{% extends "base.html" %}

{% block app_content %}
<style>
    .background {
      background-image: "/car1.jpg";
    }
  </style>

    <div class="'jumbotron text-center">
        <h1>Welcome to car rental system App</h1>

        <p class="lead">Faster to book, easier to manage</p>

        <br>
        <p> Buying a car is expensive. Especially for students. So we're going to develop a car rental website where users can quickly order a car; For managers, they can manage the inventory of background cars by adding, modifying, and deleting certain cars. The inventory information will be fed back to the user's reservation interface in real time.</p>
    </div>
{% endblock %}