{% extends 'base.html'%}

{% block app_content %}
      <h1>Click to select car you want!</h1>
        <br>
        <br>
            <a href= /customer/Acura >
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Acura</button>
            </a>
            <a href= /customer/Audi >
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Audi</button>
            </a>
            <a href=/customer/BMW >
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    BMW</button>
            </a>

            <a href= /customer/Dodge>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Dodge</button>
            </a>



            <a href= /customer/Ford>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Ford</button>
            </a>
            <a href= /customer/Honda>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Honda</button>
            </a>
            <a href= /customer/Tesla>
                <button class="btn btn-secondary" style="height:50px;width:100px;margin:15px">
                    Tesla</button>
            </a>


        <a href=/ >
                <button class="btn btn-lg" style="position: absolute; left: 10%; right: 20%; bottom: 10%; height:70px; width:140px">
                    back </button>
            </a>
<!--
        <a href=/ >
                <button class="btn btn-lg" style="background-color:powderblue ;position: absolute; left: 50%; right: 50%; bottom: 10%; height:70px; width:140px">
                    next </button>
            </a>-->
             <br>
             <br>

{% endblock %}